{% extends "base.html" %}

{% block title %}
My Research Paper
{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="{{url_for('home')}}">CSR</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('home')}}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('projects')}}">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('certificates')}}">Certificates</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('the_big_one')}}">Final Year Project</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{{url_for('apb')}}">Research Paper</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('resume')}}">CV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('contact')}}">Contact Me</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>Accident Prevention Block to move an Automobile from Traffic Collision</h2>
                </div>
                <div class="row">
                    <div id="adobe-dc-view" style="width: 1200px;"></div>
                <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
                <script src="{{url_for('static', filename='js/pdf-view.js')}}" type="text/javascript"></script>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Description</h3>
                        <p>This Research Paper was submitted as part of the 2nd International Conference on Humanties in Penang Island, Malaysia</p>
                        <p>The Conference was based around the 17 Sustainable Development Goals from the United Nations and this paper was submitted under Sustainable Development Goal 3</p>
                    </div>
                    <div class="col-12 col-md-3 offset-md-1 meta">
                        <div class="tags"><span class="meta-heading">Sources</span><a href="https://www.researchgate.net/publication/346190801_Accident_Prevention_Block_To_Move_An_Automobile_From_Traffic_Collision">Research Gate</a><a href="https://www.europeanproceedings.com/files/data/article/10036/11224/article_10036_11224_pdf_100.pdf">European Proceedings</a><span class="meta-heading">Date</span><span>30-10-2019</span></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}