{% extends "base.html" %}

{% block title %}
Certificates
{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="{{url_for('home')}}">CSR</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('home')}}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{{url_for('projects')}}">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('certificates')}}">Certificates</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('the_big_one')}}">Final Year Project</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('apb')}}">Research Paper</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('resume')}}">CV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('contact')}}">Contact Me</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container-fluid">
                <div class="heading">
                    <h2>CERTIFICATES</h2>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="card border-0"><a href="https://www.coursera.org/account/accomplishments/professional-cert/RT8W26JVXQMZ" target="_blank"><img class="card-img-top scale-on-hover" src="{{url_for('static',filename='img/google.png')}}" alt="Card Image"></a>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="card border-0"><a href="https://courses.cognitiveclass.ai/certificates/2715644fc5b54c3ca147312295f4b154" target="_blank"><img class="card-img-top scale-on-hover" src="{{url_for('static',filename='img/python101.png')}}" alt="Card Image"></a>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="card border-0"><a href="https://courses.cognitiveclass.ai/certificates/637efb0ed26f4b9c8e9167ae45215734" target="_blank"><img class="card-img-top scale-on-hover" src="{{url_for('static',filename='img/mlpython.png')}}" alt="Card Image"></a>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="card border-0"><a href="https://courses.cognitiveclass.ai/certificates/7a46269ff84b41ae9cac00709bf2a2e4" target="_blank"><img class="card-img-top scale-on-hover" src="{{url_for('static',filename='img/dapython.png')}}" alt="Card Image"></a>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="card border-0"><a href="https://courses.cognitiveclass.ai/certificates/f5b72100bfd64e619c27c08ecdb17aee" target="_blank"><img class="card-img-top scale-on-hover" src="{{url_for('static',filename='img/DSM.png')}}" alt="Card Image"></a>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="card border-0"><a href="https://drive.google.com/file/d/1OWuPNIpi0FaQsucjSYWftdh6G6RcLGbU/view?usp=sharing" target="_blank"><img class="card-img-top scale-on-hover" src="{{url_for('static',filename='img/ich.png')}}" alt="Card Image"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
